@page "/geo"
@inject IJSRuntime JS
@inject Geolocation geo 

<h3>Your coordinates</h3>
<button @onclick="getCoords">Current Location</button>
<div>

    <span>Latitude:    @latitude</span>
    <span>Longitude:   @longitude</span>
   
</div>


@code{

    private float? latitude;
    private float? longitude;

    protected override async Task OnInitializedAsync()
    {
        geo.GetUserCoords();
    }

    private async Task getCoords()
    {
        latitude = geo.getLatitude();
        longitude = geo.getLongitude();
    }

}


