@page "/geo"
@inject IJSRuntime JS
@inject Geolocation geo

<h3>Your coordinates</h3>
<button @onclick="getCoords">Current Location</button>
<div>

    <span>Latitude:    @latitude</span>
    <span>Longitude:   @longitude</span>

</div>
<div id="map" style="height:1000px;width:100%;">
</div>

@code{

    private float? latitude;
    private float? longitude;

    protected override async Task OnInitializedAsync()
    {
        geo.UpdateMap();
    }

    private async Task getCoords()
    {
        latitude = geo.getLatitude();
        longitude = geo.getLongitude();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initialize",null);
        }
    }



}


