@page "/geoJson"
@inject HttpClient Http

<div class="form-group" align="left">
    <div class="col-md-12 mb-3">
        <button type="submit" class="btn btn-primary" @onclick="TestGeoJson">Testbutton</button>
    </div>
</div>

@code {


    public async void TestGeoJson()
    {
        try
        {
            var geoJsonTrailData = await Http.GetFromJsonAsync<RooTobject>("sample-data/test1.geojson");
            var coordinatesArr = geoJsonTrailData.Features[0].Geometry.Coordinates;

            var coordinatesList = new List<Tuple<float, float>>();

            for (int i = 0; i < coordinatesArr.GetLength(0); i++)
            {
                var coordinate = new Tuple<float, float>(coordinatesArr[i][0], coordinatesArr[i][1]);
                coordinatesList.Add(coordinate);
            }

            foreach (Tuple<float, float> coord in coordinatesList)
            {
                Console.WriteLine($"({coord.Item1}, {coord.Item2})");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

    }

}
