@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<div id="mapid"></div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetObjRef = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeAsync<string>(
            "initialize", 54.7, 25.26, dotNetObjRef);
        }
        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public async void UpdateMarkers()
    {
        TrailContainer[] trails = await Http.GetFromJsonAsync<TrailContainer[]>("testTrail.json");
        foreach (TrailContainer trail in trails)
        {
            await AddMarker(trail);
        }
    }

    private async Task AddMarker(TrailContainer trail)
    {
        string difficulty = "";
        for (int i = 0; i < trail.Diff; i++)
        {
            difficulty += "★";
        }
        for (int i = 0; i < 5 - trail.Diff; i++)
        {
            difficulty += '☆';
        }

        string infoWindowContent = "<div id=content>" +
        "<p style=\"font-size:25px\"> Length: " + trail.Length + "km </p>" +
        "<p style=\"font-size:25px\"> Difficulty: " + difficulty + "</p>" +
        "<button title=\"See trail only\" onclick = \"showTrailOnly()\" ><img src = \"route.png\" ></button>" +
        "<button title=\"Walk the trail\" onclick = \"futureFeature()\" ><img src = \"walk.png\" ></button>" +
        "</div>";

        await JSRuntime.InvokeAsync<string>(
            "addMarker", trail.Lat, trail.Lng, infoWindowContent, trail.GeoJsonData);
    }
}