@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject NavigationManager NavManager
@using ExtensionMethods
@using BrowserInterop.Extensions
@using BrowserInterop.Geolocation
@implements IAsyncDisposable

<div id="map"></div>
<div class="modal fade @alertModal.modalClass" tabindex="-1" role="dialog" style="display:@alertModal.modalDisplay; overflow-y: auto;" id="alertModal">
    <div class="d-flex justify-content-center">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                    <div class="modal-header-warning justify-content-center">
                        <img src="Images/alert.png">
                    </div>
                    <div class="modal-body text-center">
                        <h4>Alert!</h4>
                        <h5>It is recommended to enable location on your browser for trail browsing.</h5>
                        <button class="btn btn-success" @onclick="(e => { ModalControl.CloseModal(alertModal);  StateHasChanged();})" data-dismiss="modal"><span>Understood</span></button>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade @errorModal.modalClass" tabindex="-1" role="dialog" style="display:@errorModal.modalDisplay; overflow-y: auto;" id="errorModal">
    <div class="d-flex justify-content-center">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header-error justify-content-center">
                    <img src="Images/alert.png">
                </div>
                <div class="modal-body text-center">
                    <h4>Error!</h4>
                    <h5>Trail walking is supported on mobile devices only!</h5>
                    <button class="btn btn-success" @onclick="(e => { ModalControl.CloseModal(errorModal); StateHasChanged(); })" data-dismiss="modal"><span>Understood</span></button>
                    <button class="btn btn-cancel" @onclick="(e => TestTrailLoad())" data-dismiss="modal"> <span>Skip warning (development only)</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


@code{

    List<TrailContainer> trails = new List<TrailContainer>();

    private WindowNavigatorGeolocation geolocationWrapper;
    private GeolocationPosition geolocationPosition;

    private List<GeolocationPosition> positionHistory = new List<GeolocationPosition>();

    private IAsyncDisposable geopositionWatcher;

    private Modal alertModal = new Modal();
    private Modal errorModal = new Modal();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetObjRef = DotNetObjectReference.Create(this);

            var window = await JSRuntime.Window();
            var navigator = await window.Navigator();
            geolocationWrapper = navigator.Geolocation;

            geolocationPosition = (await geolocationWrapper.GetCurrentPosition(new PositionOptions()
            {
                EnableHighAccuracy = true,
                MaximumAgeTimeSpan = TimeSpan.FromHours(1),
                TimeoutTimeSpan = TimeSpan.FromMinutes(1)
            })).Location;

            //delegate here?
            if (geolocationPosition == null)
            {
                await JSRuntime.InvokeAsync<string>(
            "initializeTrailMap", 0, 0, dotNetObjRef, false);

                ModalControl.OpenModal(alertModal);
                StateHasChanged();
            }
            else
            {
                await JSRuntime.InvokeAsync<string>(
            "initializeTrailMap", geolocationPosition.Coords.Latitude, geolocationPosition.Coords.Longitude, dotNetObjRef, true);
            }
        }
        base.OnAfterRender(firstRender);
    }

    [JSInvokable]
    public async void StartTrail(int trailID)
    {

        try
        {
            DeviceValidator validator = new DeviceValidator();
            await validator.ValidateDevice();
            NavManager.NavigateTo("/TrailProgress/" + trailID.ToString());
        }
        catch
        {
            ModalControl.OpenModal(errorModal);
            StateHasChanged();
        }
    }

    [JSInvokable]
    public async void FindTrails()
    {
        trails = await Http.GetFromJsonAsync<List<TrailContainer>>("sample-data/testTrail.json");

        UpdateMarkers();
    }

    public async void UpdateMarkers()
    {
        foreach (TrailContainer trail in trails)
        {
            await AddMarker(trail);
        }
    }

    [JSInvokable]
    public async void FilterMarkers(int difficulty, int length)
    {
        trails = await Http.GetFromJsonAsync<List<TrailContainer>>("sample-data/testTrail.json");

        await JSRuntime.InvokeAsync<string>(
        "clearMarkers");

        var filterQuery = from trail
                          in trails
                          where trail.Diff <= difficulty && trail.Length <= length
                          select trail;

        List<TrailContainer> filteredTrails = new List<TrailContainer>();

        foreach (var trail in filterQuery)
        {
            filteredTrails.Add(trail);
        }

        trails = filteredTrails;

        UpdateMarkers();
    }

    private async Task AddMarker(TrailContainer trail)
    {
        string difficulty = trail.Diff.ToTrailStars();

        string infoWindowContent = "<div id=content>" +
        "<p style=\"font-size:25px\"> Length: " + trail.Length + "km </p>" +
        "<p style=\"font-size:25px\"> Difficulty: " + difficulty + "</p>" +
        "<button title=\"See trail only\" onclick = \"showTrailOnly()\" ><img src = \"Images/route.png\" ></button>" +
        "<button title=\"Walk the trail\" onclick = \"startTrail(" + trail.ID.ToString() + ")\" ><img src = \"Images/walk.png\" ></button>" +
        "</div>";

        await JSRuntime.InvokeAsync<string>(
            "addMarker", trail.Lat, trail.Lng, infoWindowContent, (int)trail.trailType, trail.GeoJsonData);
    }

    public async ValueTask DisposeAsync()
    {
        if (geopositionWatcher != null)
        {
            await geopositionWatcher.DisposeAsync();
        }

    }

    //test function to test trail walking on pc
    private async void TestTrailLoad()
    {
        NavManager.NavigateTo("/TrailProgress/3");
    }
}