@*@page "/VerifyAuth"*@

<h3>VerifyAuth</h3>
@using System.Security.Claims;

@if (isAuthenticated)
{
    <h4>@userName is authenticated</h4>
}
else
{
    <h4>The user is not authenticated</h4>
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private string userName;
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;

            userName = authState.User.FindFirst(ClaimTypes.Name).Value;
        }
    }

}
