@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

mapText {
    font-size: 20px;
} 


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-cancel {
    color: #fff;
    background-color: #d62828;
    border-radius: 4px;
    border: none;
    width: 40%;
    font-size: 18px;
}

.btn-search {
    color: #fff;
    background-color: #d62828;
    border-radius: 4px;
    border: none;
    width: 40%;
    font-size: 18px;
}
.btn-popup {
    display: inline-block;
    width: 50%;
    border: none;
    font-size: 22px;
}

.content {
    padding-top: 0rem;
    margin: 0px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}
.filter {
    width: 300px;
    padding: 6px 8px;
    font: Helvetica;
    font-size: 20px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.filter h4 {
        margin: 0 0 5px;
        color: #777;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
        opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     background: #04AA6D;
     cursor: pointer;

}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #04AA6D;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm {
    color: #434e65;
    width: 90%;
}

.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm .modal-header-warning {
    background: #efef34;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm .modal-header-error {
    background: #d62828;
    border-bottom: none;
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}


.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #171010;
    text-shadow: none;
    opacity: 0.5;
}

.modal-confirm .close:hover {
    opacity: 0.8;
}

.modal-confirm .icon-box {
    color: #fff;
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}

.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
    margin-top: 80px;
}


.myRight {
    padding-right: 0px;
}

.progress {
    height: 30px;
    background: #fff;
    border-radius: 0;
    margin-bottom: 25px;
    overflow: visible;
    position: relative;
}

.progress:before,
.progress:after {
    content: "";
    width: 0px;
    background: #1c2647;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
}

.progress:after {
    left: auto;
    right: -5px;
}

.progress .progress-bar {
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}

.progress .level-bar1 {
    border: none;
    box-shadow: none;
    -webkit-animation: 1s linear 0s normal none infinite running progress-bar-stripes,animate-positive 0.1s;
    animation: 1s linear 0s normal none infinite running progress-bar-stripes,animate-positive 0.1s;
}
.progress .level-bar2 {
    border: none;
    box-shadow: none;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 3s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 3s;
}


@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter {
    transition: --num 20s;
    counter-reset: num var(--num);
}
.counter::after {
    content: counter(num);
}
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #1D2D2D;
    color: #fff;
    font-family: 'source_code_promedium';
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

@font-face {
    font-family: 'source_code_promedium';
    src: url('Fonts/sourcecodepro-medium-webfont.woff2') format('woff2'), url('Fonts/sourcecodepro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

#map {
    width: 100%;
    height: 95vh;
}

