@inherits LayoutComponentBase
@using Encounter_Me.Components;

<div class="page">
    <div class="main">
        <Navbar></Navbar>
        <div class="content p-0 m-0">
            @Body
        </div>
    </div>
</div>